.memberUnitDetail {
  background: #f5f7fa;
  height: 100%;
  padding-bottom: 40rpx;
  &-title {
    height: 184rpx;
    background: #1677ff;
  }
  &-baseInfo {
    width: 100%;
    background: #ffffff;
    border-radius: 24rpx 24rpx 0px 0px;
    position: relative;
    top: -20px;
    .logo {
      width: 176rpx;
      height: 176rpx;
      background: #ffffff;
      border-radius: 12rpx;
      position: absolute;
      top: -84rpx;
      left: 48rpx;
      box-shadow: 0rpx 8rpx 12rpx 0rpx rgba(0, 0, 0, 0.08);
      .logo-img {
        width: 100%;
        height: 100%;
        border-radius: 12rpx;
      }
    }
    &-position {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 28rpx 24rpx 0 244rpx;
      .collection {
        width: 240rpx;
        height: 64rpx;
        line-height: 64rpx;
        text-align: center;
        background: #fa8c16;
        border-radius: 32rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 28rpx;
        color: #ffffff;
        .collection-icon {
          width: 28rpx;
          height: 28rpx;
          margin-right: 8rpx;
        }
      }
      .share-btn {
        margin: 0;
        display: flex;
        align-items: center;
        background: #fff !important;
        border: unset !important;
      }
      .share-btn::after {
        background: transparent !important;
        border: unset !important;
      }
      .un-collection {
        background: #bfc2cc;
        color: #ffffff;
      }
      .share-icon {
        width: 32rpx;
        height: 32rpx;
        margin-right: 12rpx;
      }
      .share-text {
        font-weight: 600;
        font-size: 28rpx;
        color: #fa8c16;
      }
    }
    &-content {
      padding: 48rpx 24rpx;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 36rpx;
      color: #303133;
      &-level {
        font-weight: 400;
        font-size: 26rpx;
        color: #909399;
        margin-top: 8rpx;
        display: flex;
        align-items: center;
        .level {
          width: 86rpx;
          height: 36rpx;
          margin-right: 8rpx;
        }
        .level-text {
          font-weight: 400;
          font-size: 26rpx;
          color: #303133;
        }
      }
      .text {
        font-weight: 400;
        font-size: 28rpx;
        color: #909399;
        margin-top: 24rpx;
      }
    }
  }
  &-remark {
    padding: 24rpx;
    font-weight: 400;
    font-size: 28rpx;
    color: #303133;
    margin-top: 20rpx;
    background: #ffffff;
    &-title {
      font-weight: 600;
      font-size: 32rpx;
      color: #303133;
      margin-bottom: 24rpx;
    }
    &-nextTitle {
      margin-bottom: 24rpx;
    }
    .change-icon {
      width: 32rpx;
      height: 32rpx;
      margin-right: 12rpx;
    }
    .customer-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 28rpx;
      color: #303133;
      padding: 12rpx 0;
      .avatar {
        width: 124rpx;
        height: 124rpx;
        border-radius: 50%;
        margin-right: 24rpx;
      }
      .is-login {
        font-weight: 400;
        font-size: 24rpx;
        color: #1677ff;
      }
      .dynamic {
        font-weight: 400;
        font-size: 28rpx;
        color: #ffffff;
        width: 132rpx;
        height: 64rpx;
        background: #fa8c16;
        border-radius: 32rpx;
        line-height: 64rpx;
        text-align: center;
      }
    }
    &-image {
      overflow-x: scroll;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 24rpx 0;
      .image {
        width: 220rpx;
        height: 164rpx;
        margin-right: 8rpx;
      }
    }
  }
  .tag-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8rpx;
    margin-bottom: 36rpx;
  }
  .tag {
    font-weight: 400;
    font-size: 26rpx;
    color: #ff6632;
    padding: 10rpx 12rpx;
    text-align: center;
    border-radius: 14rpx;
    background: #fff0eb;
    white-space: nowrap;
  }
}
