.login {
  background: #ffffff;
  height: 100vh;
  overflow: hidden;
  padding: 0 48rpx;
  .login-logo {
    margin: 130rpx 0;
    width: 100%;
    height: 108rpx;
    object-fit: cover;
  }
  &-form {
    .login-form-tab {
      font-weight: 600;
      font-size: 34rpx;
      color: #303133;
      margin-bottom: 42rpx;
    }
    .login-form-tab:nth-child(2) {
      margin-left: 40rpx;
    }
    .login-form-tab.active {
      color: #007aff;
    }
    .login-form-tab.active::after {
      content: "";
      display: block;
      width: 100%;
      height: 4rpx;
      background: #007aff;
      border-radius: 2rpx;
    }
    .login-form-item {
      display: flex;
      align-items: center;
      background: #f5f7fa;
      border-radius: 12rpx;
      // width: 100%;
      padding: 28rpx 24rpx;
      font-size: 28rpx;
      color: #303133;
      line-height: 40rpx;
      .send-code {
        color: #1677ff;
        white-space: nowrap;
      }
      .login-form-item-label {
        width: 160rpx;
      }
    }
    .login-form-item:not(:first-child) {
      margin-top: 20rpx;
    }
    .login-btn-primary {
      background: #1677ff;
      border-radius: 12rpx;
      font-weight: 500;
      font-size: 32rpx;
      color: #ffffff;
      text-align: center;
      padding: 6rpx 0;
      margin-top: 20rpx;
    }
    .login-btn-wx {
      border: 2rpx solid #07c160;
      border-radius: 12rpx;
      font-weight: 500;
      font-size: 32rpx;
      color: #07c160;
      text-align: center;
      margin-top: 20rpx;
      background: #fff;
      padding: 6rpx 0;
    }
  }
}
