.editAffiliateAdvantage {
  background: #f5f7fa;
  height: 100%;
  position: relative;
  padding-top: 20rpx;
  padding-bottom: 30rpx;
  .AffiliatePorAdvantage-title {
    background: #ffffff;
    padding: 12rpx 20rpx;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 28rpx;
    color: #303133;
    margin-bottom: 20rpx;
    .search-item {
      background: #f5f7fa;
      padding: 12rpx 16rpx;
      border-radius: 12rpx;
      flex: 1;
      .icon {
        width: 36rpx;
        height: 36rpx;
        margin-right: 10rpx;
      }
    }
  }
  &-list {
    &-item {
      padding: 32rpx 24rpx;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 28rpx;
      color: #303133;
      border-bottom: 1rpx solid #edeff2;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0rpx -2rpx 4rpx 0rpx rgba(0, 0, 0, 0.08);
    height: 264rpx;
    padding: 24rpx;
    background: #ffffff;
    &-selected {
      overflow-x: scroll;
      white-space: nowrap;
      display: flex;
      align-items: center;
      &-item {
        padding: 8rpx 16rpx;
        background: #fff0eb;
        border-radius: 8rpx;
        font-weight: 400;
        font-size: 24rpx;
        color: #ff6632;
        display: flex;
        align-items: center;
        margin-right: 8rpx;
        .close-icon {
          width: 20rpx;
          height: 20rpx;
          margin-left: 8rpx;
        }
      }
    }
    .btn {
      height: 88rpx;
      background: #1677ff;
      border-radius: 12rpx;
      font-weight: 500;
      font-size: 32rpx;
      color: #ffffff;
      text-align: center;
      padding: 6rpx 0;
      width: 100%;
    }
  }
  &-fnd-content {
    // height: 100%;
    // height: calc(100% - 100rpx);
    max-height: 1338rpx;
    overflow-y: scroll;
    display: flex;
    &-left {
      width: 182rpx;
      margin-right: 10rpx;
      font-weight: 400;
      font-size: 28rpx;
      color: #909399;
      background: #ffffff;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 30rpx;
      &-item {
        padding: 40rpx 0;
        text-align: center;
        position: relative;
        .active {
          color: #1677ff;
        }
        .active::after {
          content: "";
          position: absolute;
          bottom: 42rpx;
          // left: 40rpx;
          left: -10rpx;
          display: block;
          width: 4rpx;
          height: 32rpx;
          background: #1677ff;
          border-radius: 2rpx;
        }
      }
    }
    &-right {
      flex: 1;
      font-weight: 400;
      overflow-y: scroll;
      font-size: 26rpx;
      color: #303133;
      background: #ffffff;
      &-item {
        padding: 40rpx 24rpx 0 24rpx;
        font-weight: 600;
        font-size: 30rpx;
        color: #303133;
        border-bottom: 1rpx solid #edeff2;
        &-child {
          padding: 30rpx 24rpx 30rpx 0;
          font-weight: 400;
          font-size: 26rpx;
          color: #303133;
          border-bottom: 1rpx solid #edeff2;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &-child:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
