.editAffiliateImage {
  background: #fff;
  height: 100vh;
  padding: 20rpx 24rpx;
  &-upload {
    height: 164rpx;
    line-height: 164rpx;
    background: #f5f7fa;
    border-radius: 8rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 24rpx;
    color: #909399;
    margin-bottom: 20rpx;
    .icon {
      width: 60rpx;
      height: 52rpx;
      margin-bottom: 12rpx;
    }
  }
  &-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22rpx;
    &-item {
      width: 340rpx;
      height: 339rpx;
      position: relative;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .delete-icon {
      position: absolute;
      top: 8rpx;
      right: 8rpx;
      width: 48rpx;
      height: 48rpx;
    }
  }
}
