.editAffiliateImage {
  background: #fff;
  height: 100vh;
  padding: 20rpx 24rpx;
  &-upload {
    height: 164rpx;
    line-height: 164rpx;
    background: #f5f7fa;
    border-radius: 8rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 24rpx;
    color: #909399;
    .icon {
      width: 60rpx;
      height: 52rpx;
      margin-bottom: 12rpx;
    }
  }
  &-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22rpx;
    &-item {
      width: 100%;
      height: 164rpx;
      object-fit: cover;
    }
  }
}
