.industryDynamics {
  &-tab-item {
    font-weight: 400;
    font-size: 28rpx;
    color: #909399;
    margin-left: 32rpx;
  }
  .active {
    font-weight: 600;
    font-size: 28rpx;
    color: #1677ff;
    position: relative;
  }
  .active::before {
    content: "";
    display: block;
    width: 100%;
    height: 4rpx;
    background: #1677ff;
    border-radius: 2rpx;
    position: absolute;
    bottom: -12rpx;
    left: 0;
  }
  &-item:last-child {
    margin-right: 0;
  }
}
