.unitGeneral {
  height: 100vh;
  background: #f5f7fa;
  .bg {
    width: 100%;
    height: 260rpx;
  }
  &-content {
    padding: 32rpx 26rpx;
    background: #ffffff;
    border-radius: 24rpx 24rpx 0rpx 0rpx;
    position: relative;
    top: -20px;
    // width: 100%;
    height: 100%;
    .unitGeneral-item-title {
      font-weight: 400;
      font-size: 28rpx;
      color: #909399;
    }
    .active {
      font-weight: 500;
      font-size: 28rpx;
      color: #1677ff;
      position: relative;
    }
    .active::before {
      content: "";
      display: block;
      width: 100%;
      height: 4rpx;
      background: #1677ff;
      border-radius: 2rpx;
      position: absolute;
      bottom: -24rpx;
      left: 0;
    }
    &-item {
      padding-top: 40rpx;

      .waterfall-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20rpx;
      }

      .waterfall-column {
        width: calc(50% - 10rpx);
        display: flex;
        flex-direction: column;
        gap: 20rpx;
      }

      .waterfall-item {
        width: 100%;
        border-radius: 8rpx;
        box-shadow: 0 2rpx 8rpx rgba(0, 0, 0, 0.1);
      }

      .unitGeneral-image {
        width: 100%;
      }
    }
    &-image {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20rpx;
      .unitGeneral-image-1 {
        // width: calc(50% - 10rpx);
        margin-bottom: 20rpx;
        max-height: 240rpx;
        border-radius: 12rpx;
      }
      .unitGeneral-image-1:nth-child(2n) {
        max-height: 253rpx;
      }
    }
  }
}
