.index {
  width: 100%;
  background: #f5f7fa;
  height: 100%;
  padding-bottom: 20rpx;
  .index-function {
    &-item {
    }
    &-item:nth-of-type(1) {
      margin-right: 52rpx;
    }
    &-item:nth-of-type(3) {
      margin-left: 52rpx;
    }
    &-item:hover {
      background: none;
    }
  }
  &-memberUnit {
    background: #fff;
    // font-weight: 600;
    // font-size: 32rpx;
    // color: #303133;
    margin-top: 20rpx;
    // &-title {
    // padding: 24rpx;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // border-bottom: 1rpx solid #edeff2;
    // .more {
    //   font-weight: 400;
    //   font-size: 28rpx;
    // }
    // }
    &-content {
      padding: 38rpx 24rpx;
    }
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 40rpx;
      .logo {
        width: 112rpx;
        height: 112rpx;
        margin-right: 20rpx;
      }
      .main-image {
        max-width: 200rpx;
        height: 148rpx;
        margin-right: 20rpx;
      }
    }
    &-item:last-child {
      margin-bottom: 0;
    }
    &-item-name {
      font-weight: 600;
      font-size: 28rpx;
      color: #333333;
      display: flex;
      flex-direction: column;
    }
    &-item-level {
      font-weight: 400;
      font-size: 26rpx;
      color: #909399;
      margin-top: 8rpx;
      display: flex;
      align-items: center;
      .group-name {
        font-weight: 400;
        font-size: 28rpx;
        color: #ff6632;
      }
      .level {
        width: 86rpx;
        height: 36rpx;
        margin-right: 8rpx;
      }
      .level-text {
        font-weight: 400;
        font-size: 26rpx;
        color: #909399;
        margin-left: 8rpx;
      }
    }
  }
  &-dynamic {
    background: #fff;
    margin-top: 20rpx;
    padding-bottom: 20rpx;
  }
}
