.logistics-tracking {
  background: #f5f7fa;
  padding: 20px;
  height: 100%;
  .logistics-tracking-search {
    background: #ffffff;
    padding: 20rpx 24rpx;
    border-radius: 12rpx;
    .search-item {
      background: #f5f7fa;
      padding: 24rpx;
      border-radius: 8rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 28rpx;
      color: #303133;
    }
    .btn {
      margin-top: 32rpx;
      height: 88rpx;
      line-height: 88rpx;
      background: #fa8c16;
      border-radius: 12rpx;
      font-weight: 500;
      font-size: 32rpx;
      color: #ffffff;
      text-align: center;
      padding: 6rpx 0;
      width: 100%;
    }
  }
  .logistics-tracking-text {
    font-weight: 600;
    font-size: 28rpx;
    color: #303133;
    margin: 40rpx 0 20rpx;
  }
  .logistics-tracking-item {
    background: #ffffff;
    border-radius: 12rpx;
    margin-bottom: 20rpx;
    .head {
      padding: 28rpx 24rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 28rpx;
      color: #303133;
      border-bottom: 1rpx solid #edeff2;
      .time {
        font-weight: 400;
        font-size: 24rpx;
        color: #909399;
      }
    }
    .content {
      padding: 28rpx 24rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 28rpx;
      color: #303133;
      .content-item {
        font-weight: 500;
        font-size: 28rpx;
        color: #1677ff;
        .circle {
          width: 28rpx;
          height: 28rpx;
          border-radius: 50%;
          background: #1677ff;
          margin-right: 12rpx;
        }
        .name {
          margin-left: 40rpx;
        }
      }
    }
  }
  // 删除按钮样式
  .delete-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .delete-icon {
    width: 40rpx;
    height: 40rpx;
    margin-bottom: 8rpx;
  }
  .delete-text {
    font-size: 24rpx;
    color: #ff4d4f;
  }
}
