.accountSettingEdit {
  background: #f5f7fa;
  padding: 20rpx 24rpx;
  height: 100vh;
  overflow: hidden;
  &-form {
    background: #ffffff;
    border-radius: 16rpx;
    &-item {
      display: flex;
      align-items: center;
      padding: 32rpx 24rpx;
      font-size: 28rpx;
      font-weight: 400;
      color: #303133;
      border-bottom: 1rpx solid #f5f7fa;
      &-label {
        width: 140rpx;
        padding-right: 24rpx;
        text-align: left;
        white-space: nowrap;
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 26rpx;
        // color: #909399;
        width: 100%;
        .send-code {
          color: #1677ff;
          white-space: no-wrap;
        }
      }
    }
    &-label {
      width: 140rpx;
      padding-right: 24rpx;
      text-align: left;
      white-space: nowrap;
    }
    &-input {
      flex: 1;
      width: 100%;
    }
  }
}
