.accountSetting {
  background: #f5f7fa;
  padding: 20rpx 24rpx;
  height: 100vh;
  overflow: hidden;
  &-form {
    background: #ffffff;
    border-radius: 16rpx;
    &-item {
      padding: 32rpx 24rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 28rpx;
      color: #303133;
      border-bottom: 1rpx solid #edeff2;
      .right {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 26rpx;
        color: #909399;
      }
    }
    &-item:last-child {
      border-bottom: none;
    }
  }
  &-btn {
    height: 104rpx;
    margin-top: 20rpx;
    line-height: 104rpx;
    background: #ffffff;
    border-radius: 12rpx;
    font-weight: 400;
    font-size: 28rpx;
    color: #fa5151;
    text-align: center;
  }
}
