.dynamic {
  background: #f5f7fa;
  height: 100vh;
  &-item {
    background: #ffffff;
    padding: 32rpx 24rpx;
    margin-top: 20rpx;
    &-avatar {
      width: 84rpx;
      height: 84rpx;
      border-radius: 50%;
      margin-right: 12rpx;
    }
    &-phone {
      font-weight: 600;
      font-size: 28rpx;
      color: #303133;
      margin-top: 24rpx;
    }
    &-content {
      font-weight: 400;
      font-size: 28rpx;
      color: #303133;
      margin-top: 4rpx;
    }
    &-time {
      font-weight: 400;
      font-size: 28rpx;
      color: #909399;
      margin-top: 24rpx;
    }
  }
}
