.editAffiliateBase {
  background: #f5f7fa;
  height: 100vh;
  padding: 20rpx 24rpx;
  &-form {
    background: #ffffff;
    margin-bottom: 20rpx;
    font-size: 28rpx;
    font-weight: 400;
    color: #303133;
    &-item {
      display: flex;
      align-items: center;
      padding: 32rpx 24rpx;
      border-bottom: 1rpx solid #f5f7fa;
      &-label {
        width: 140rpx;
        padding-right: 24rpx;
        text-align: left;
      }
      &-avatar {
        width: 120rpx;
        height: 120rpx;
        border-radius: 50%;
        overflow: hidden;
      }
      &-input {
        flex: 1;
        width: 100%;
      }
      &-textarea {
        background: #fff;
        width: auto;
        min-height: 180px;
        padding: 24rpx;
        border: 2rpx solid #edeff2;
        margin-top: 32rpx;
      }
      &-upload {
        width: 96rpx;
        height: 96rpx;
        background: #edeff2;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          width: 40rpx;
          height: 34rpx;
        }
      }
    }
  }
  // .remark {
  //   padding: 32rpx 24rpx;
  //   font-size: 28rpx;
  //   font-weight: 400;
  //   color: #303133;
  //   display: flex;
  //   flex-direction: column;
  // }
  &-btn {
    height: 88rpx;
    background: #1677ff;
    border-radius: 12rpx;
    font-weight: 500;
    font-size: 32rpx;
    color: #ffffff;
    text-align: center;
    padding: 6rpx 0;
    width: 100%;
  }
}
