@use "tailwindcss/base" as *;
@use "tailwindcss/components" as *;
@use "tailwindcss/utilities" as *;

.inline-flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.gray {
  color: #303133;
}

.light-gray {
  color: #909399;
}

.arrow-icon {
  width: 12rpx;
  height: 24rpx;
  margin-left: 12rpx;
}

.text-normal {
  font-weight: 400;
  font-size: 28rpx;
  color: #303133;
}

.text-large {
  font-weight: 600;
  font-size: 32rpx;
  color: #303133;
}

.confirm-btn {
  height: 88rpx;
  line-height: 88rpx;
  background: #1677ff;
  border-radius: 12rpx;
  font-weight: 500;
  font-size: 32rpx;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 20rpx;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visibility-hidden {
  visibility: hidden;
}

.edit-icon {
  width: 32rpx;
  height: 32rpx;
  margin-right: 8rpx;
}

.clear-icon {
  width: 28rpx;
  height: 28rpx;
}
