.inline-flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.gray {
  color: #303133;
}

.light-gray {
  color: #909399;
}

.arrow-icon {
  width: 12rpx;
  height: 24rpx;
  margin-left: 12rpx;
}
