.dynamicForm {
  background: #f5f7fa;
  height: 100%;
  margin: 20rpx 24rpx;
  &-form {
    background: #fff;
    // padding: 20rpx 24rpx;
    // border-radius: 8rpx;
    &-item {
      padding: 24rpx;
      border: 2rpx solid #edeff2;
      border-radius: 12rpx;
    }
  }
  &-btn {
    height: 88rpx;
    background: #1677ff;
    border-radius: 12rpx;
    font-weight: 500;
    font-size: 32rpx;
    color: #ffffff;
    text-align: center;
    padding: 6rpx 0;
    width: 100%;
  }
}
