.applicationForm {
  background: #f5f7fa;
  height: 100vh;
  padding: 20rpx 24rpx;
  &-form {
    background: #ffffff;
    margin-bottom: 20rpx;
    border-radius: 16rpx;
    &-item {
      display: flex;
      align-items: center;
      padding: 32rpx 24rpx;
      font-size: 28rpx;
      font-weight: 400;
      color: #303133;
      border-bottom: 1rpx solid #f5f7fa;
      &-label {
        width: 140rpx;
        padding-right: 24rpx;
        text-align: left;
      }
      &-input {
        flex: 1;
        width: 100%;
      }
    }
  }
  &-btn {
    height: 88rpx;
    background: #1677ff;
    border-radius: 12rpx;
    font-weight: 500;
    font-size: 32rpx;
    color: #ffffff;
    text-align: center;
    padding: 6rpx 0;
    width: 100%;
  }
}
