.custom-search {
  background: #ffffff;
  padding: 12rpx 20rpx;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 28rpx;
  color: #303133;
  margin-bottom: 20rpx;
  .search-item {
    background: #f5f7fa;
    padding: 12rpx 16rpx;
    border-radius: 12rpx;
    flex: 1;
    .icon {
      width: 36rpx;
      height: 36rpx;
      margin-right: 10rpx;
    }
  }
  .search-input {
    flex: 1;
    width: 100%;
  }
  &-cancel {
    font-weight: 500;
    font-size: 28rpx;
    color: #303133;
    margin-left: 24rpx;
  }
}
